{% extends "base.html" %}

{% block content %}

<h1 class="text-primary mt-2"><strong>Draft Pages</strong></h1>
        {% for post in posts %}

        <div class="card border-dark mt-4 bg-body-tertiary">

            <div class="card-body">
                <p class="card-text"><small class="text-muted">Last updated {{ post.updated_at|date:"F d, Y" }}</small>
                <h5 class="card-title"><a href="{% url 'draft-detail' post.pk %}">{{ post.title }}</a></h5>
                <div class="text-warning"> @{{post.author.username }}</div>
                <p class="card-text">{{ post.content|slice:":150" }}...</p>
                <a href="{% url 'draft-detail' post.pk %}">view more</a>
                </p>
            </div>
        </div>


        {% endfor %}


{% endblock %}